{% extends 'after_layout.html' %}
{% block title %}高级搜索{% endblock %}
{% block body %}

		<div class="row justify-content-center">
        <div class="col-6">
            <form id="register_form" action="{{ url_for('find_post_A_morethan_B_form') }}" method="post" enctype="multipart/form-data">
                <legend>高级搜索：寻找板块A发帖多于板块B的用户</legend>
				<div class="form-group">
                    <label for="block_chooseA">板块A</label>
                        <select class="form-control" id="block_chooseA" name="block_chooseA">
						{% for item in secs %}
                            <option>{{item[0]}}-{{item[1]}}</option>
						{% endfor %}
                        </select>
                </div>
				<div class="form-group">
                    <label for="block_chooseB">板块B</label>
                        <select class="form-control" id="block_chooseB" name="block_chooseB">
						{% for item in secs %}
                            <option>{{item[0]}}-{{item[1]}}</option>
						{% endfor %}
                        </select>
                </div>
                <button class="btn btn-success" form="register_form">提交</button>
                <h1></h1>
                {{提示|safe}}
            </form>
        </div>
		<div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th scope="col">账号</th>
                        <th scope="col">在A版块发帖数</th>
                        <th scope="col">在B板块发帖数</th>
						{% if uid == '2' %}   <!--注意是str-->
						<th scope="col">操作</th>
						{% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in content %}
                        <tr>
							{% if item[0]=='无' %}
							<td>{{ item[0]}}</td>
							{% else %}
							<td>
                                <a href="{{ url_for('show_person_concretinfo',accountp=item[0] )}}">{{item[0]}}</a>
                            </td>
							{% endif %}
                            <td>{{ item[1]}}</td>
                            <td>{{ item[2]}}</td>
							{% if uid=='2' %}
							{% if item[0]=='无' %}
							<td>无</td>
							{% else %}
							<td>
								<a href="{{url_for('delete_user',account=item[0]) }}">删除</a>
							</td>
							{% endif %}
							{% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
</html>
{% endblock %}
