{% extends 'before_layout.html' %}
{% block title %}注册嘉然BBS{% endblock %}
{% block body %}

		<div class="row justify-content-center">
        <div class="col-6">
            <form id="register_form" action="{{ url_for('register_form') }}" method="post" enctype="multipart/form-data">
                <legend>账号注册</legend>
                <div class="form-group">
                    <label for="account">账号</label>
                    <input type="text" class="form-control" name="account" id="account"
                           placeholder="请输入账号">
                </div>

                <div class="form-group">
                    <label for="password">密码</label>
                    <input type="password" class="form-control" name="password" id="password"
                           placeholder="请输入密码">
                </div>

                <div class="form-group">
                    <label for="nickname">昵称</label>
                    <input type="text" class="form-control" name="nickname" id="nickname"
                           placeholder="请输入昵称">
                </div>
                
                <div class="form-group">
                    <label for="birthday">生日</label>
                    <input type="date" class="form-control" name="birthday" id="birthday"
                           placeholder="请输入生日">
                </div>

                <div class="form-group">
                    <label for="gender">性别</label>
                        <select class="form-control" id = "gender" name = "gender">
                            <option>男生</option>
                            <option>女生</option>
                        </select>
                </div>

                <div class="form-group">
                    <label for="email">邮箱</label>
                    <input type="text" class="form-control" name="email" id="email"
                           placeholder="请输入您的邮箱">
                </div>

                <button class="btn btn-success" form="register_form">提交</button>
                <h1></h1>
                {{提示|safe}}
            </form>
        </div>
    </div>
</html>
{% endblock %}
