{% extends 'after_layout.html' %}
{% block title %}发表帖子{% endblock %}
{% block body %}

		<div class="row justify-content-center">
        <div class="col-8">
            <form id="register_form" action="{{ url_for('post_form') }}" method="post" enctype="multipart/form-data">
                <center><legend>填写帖子</legend></center>
                <div class="form-group">
                    <label for="section">发表版块</label>
                    <select class="form-control" id = "section" name = "section">
                        {% for item in section %}
                        <option>{{item[0]}}-{{item[1]}}</option>
                        {% endfor %}
                    </select>
                    <label for="post_title">标题</label>
                    <input type="text" class="form-control" name="post_title" id="post_title"
                           placeholder="请输入标题">
                    <label for="post_content">内容</label>
                    <center>
                    <textarea class="form-control" rows="10" name = "post_content" placeholder="请文明发帖~"  id ="post_content" ></textarea>
                    </center>
                </div>

                
                <p></p>
                <center><button class="btn btn-success" form="register_form">发表</button></center>
                <h1></h1>
                {{提示|safe}}
            </form>
        </div>
    </div>
</html>
{% endblock %}
